:root {
	--Background-color: hsl(233, 47%, 7%);
	--Card-background-color: hsl(244, 38%, 16%);
	--Accent-color: hsl(277, 64%, 61%);
	--White-main: hsl(0, 0%, 100%);
	--Main-paragraph-white: hsla(0, 0%, 100%, 0.75);
	--Stat-heading-white: hsla(0, 0%, 100%, 0.6);
}

h1 {
	padding: 6% 55px 0 55px;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin: 0 0 10px 0;
}

#insight {
	color: var(--Accent-color);
}

h3 {
	font-family: 'Inter', sans-serif;
	margin-bottom: 3px;
	font-size: 20px;
}

p {
	padding: 0 70px;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 175%;
	padding-bottom: 0;
	margin: 0;
}

body {
	background-color: var(--Background-color);
	color: var(--Main-paragraph-white);
	width: 375px;
	margin: auto;
	padding-top: 7%;
}

.rightContainer {
	position: relative;
}

img {
	width: 350px;
	border-radius: 10px 10px 0 0;
}

.overlay {
	position: absolute;
	width: 350px;
	height: 256.88px;
	border-radius: 10px 10px 0 0;
	background-color: hsla(277, 98%, 36%, 0.486);
	z-index: 1;
}

.card {
	width: 350px;
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	background-color: var(--Card-background-color);
	padding-bottom: 5px;
}

.statContainer {
	margin: 0;
	padding: 0 0 20px 0;
}

.statTitle {
	font-family: 'Lexend Deca', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 8px;
	letter-spacing: 3px;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
	body {
		background-color: var(--Background-color);
		color: var(--Main-paragraph-white);
		width: 1000px;
		height: auto;
		margin: auto;
		padding-top: 7%;
	}

	.card {
		width: 100%;
		height: 300px;
		margin: auto;
		border-radius: 10px;
		background-color: var(--Card-background-color);
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.rightContainer {
		height: auto;
	}

	img {
		width: 100%;
		height: 305px;
		border-radius: 0 10px 10px 0;
	}

	.rightContainer {
		position: relative;
		display: flex;
		left: 100%;
	}

	.leftContainer {
		height: auto;
		position: relative;
		right: 100%;
		padding: 10%;
	}

	h1 {
		font-family: 'Lexend Deca', sans-serif;
		padding: 0;
		position: relative;
	}

	p {
		padding: 0;
	}

	.statContainer {
		display: flex;
		margin: 0;
		padding: 0 0 20px 0;
	}

	.statTitle {
		height: auto;
		width: auto;
	}

	.statContainer h3 {
		display: block;
	}

	.overlay {
		display: none;
	}
}
